apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system

spec:
  interval: 1h0m0s
  releaseName: prometheus-stack

  chart:
    spec:
      chart: kube-prometheus-stack
      version: "45.0.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 2h0m0s

  valuesFrom:
    - kind: ConfigMap
      name: prometheus-values
      valuesKey: values.yaml

