loki:
  enabled: true
  persistence:
    enabled: true
    storageClassName: "nfs-client"

  # # data lifecycle = 7 days
  # limits_config:
  #   retention_period: 168h

  # # prevent Loki from hoarding chunks
  # compactor:
  #   enabled: true
  #   retention_enabled: true
  #   delete_request_store: filesystem   # required when object store = filesystem (e.g. PVC through NFS)
  #   shared_store: filesystem           # required for NFS/PVC backend

  #   # compactor needs its own persistent volume
  #   persistentVolume:
  #     enabled: true
  #     size: 1Gi

  #   # Where compactor writes its temp files inside the PV
  #   working_directory: /var/loki/compactor

  # reduce wasted space on my potato storage/clusters
  # schema_config:
  #   configs:
  #     - from: "2020-10-24"
  #       store: boltdb-shipper
  #       object_store: filesystem
  #       schema: v11
  #       index:
  #         prefix: index_
  #         period: 24h
  #         labels:
  #           - namespace
  #           - pod
  #           - container
  #           - node
  #           - job

promtail:
  enabled: true
  podLabels:
    syslog-receiver: "true"
  config:
    snippets:
      extraScrapeConfigs: |
        - job_name: syslog
          syslog:
            listen_address: 0.0.0.0:1514
            idle_timeout: 60s
            label_structured_data: yes
            labels:
              job: "syslog"
          relabel_configs:
            - source_labels: ['__syslog_message_hostname']
              target_label: 'host'
# drop noisy components
# pipeline_stages:
#   - drop:
#       expression: "level=debug"
#   - drop:
#       source: Kubernetes
#       expression: "kubelet"
#   - multiline:
#       firstline: '^\S'

# if needed, encrypt logs traffic
# extraArgs:
#   - -client.tls-config.insecure-skip-verify=true
#   - -server.tls-config.insecure-skip-verify=true

# Grafana and Prometheus are deployed separately
grafana:
  enabled: false

prometheus:
  enabled: false
