loki:
  enabled: true
  persistence:
    enabled: true
    storageClassName: "nfs-client"

promtail:
  enabled: true
  podLabels:
    syslog-receiver: "true"
  config:
    snippets:
      extraScrapeConfigs: |
        - job_name: kubernetes-pods
          kubernetes_sd_configs:
            - role: pod

          pipeline_stages:
            - cri: {}

          relabel_configs:
            - action: replace
              source_labels: [__meta_kubernetes_namespace]
              target_label: namespace

            - action: replace
              source_labels: [__meta_kubernetes_pod_name]
              target_label: pod

            - action: replace
              source_labels: [__meta_kubernetes_pod_container_name]
              target_label: container

            - action: replace
              source_labels: [__meta_kubernetes_pod_node_name]
              target_label: node

            - action: replace
              target_label: __path__
              replacement: /var/log/pods/*$1/*/*.log
              separator: /
              source_labels:
                - __meta_kubernetes_pod_uid
grafana:
  enabled: false

prometheus:
  enabled: false
