app:
  name: actualbudget
  image:
    repository: docker.io/actualbudget/actual-server
    pullPolicy: IfNotPresent

  service:
    port: 80
    targetPort: 5006

  volumeMounts:
    - mountPath: /data
      subPath: data

  livenessProbe:
    enabled: true
    command: ["node", "src/scripts/health-check.js"]
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
