app:
  name: plex
  image:
    repository: plexinc/pms-docker
    pullPolicy: IfNotPresent
    tag: 1.42.2.10156-f737b826c

  ports:
    # TCP ports
    - containerPort: 32400
    - containerPort: 3005
    - containerPort: 8324
    - containerPort: 32469
    # UDP ports
    - containerPort: 1900
    - containerPort: 32410
    - containerPort: 32412
    - containerPort: 32413
    - containerPort: 32414

  service:
    ports:
      # TCP ports
      - port: 32400
      - port: 3005
      - port: 8324
      - port: 32469
      # UDP ports
      - port: 1900
        protocol: UDP
      - port: 32410
        protocol: UDP
      - port: 32412
        protocol: UDP
      - port: 32413
        protocol: UDP
      - port: 32414
        protocol: UDP

  volumeMounts:
    - mountPath: /config
      subPath: config
    - mountPath: /data
      subPath: data
    - mountPath: /music
      subPath: music

  env:
    - name: PLEX_UID
      value: "1000"
    - name: PLEX_GID
      value: "1000"
    - name: ADVERTISE_IP
      value: https://music.shakir.cloud:32400
    - name: ALLOWED_NETWORKS
      value: 10.10.50.0/24
