app:
  name: gaseous
  image:
    repository: gaseousgames/gaseousserver
    pullPolicy: IfNotPresent

  replicaCount: 1
  containerPort: 80

  service:
    port: 80
    targetPort: 80

  volumeMounts:
    - mountPath: /root/.gaseous-server
      subPath: "gs"

  dbHostname: "dbhost"

  env:
    - name: TZ
      value: America/Los_Angeles
    - name: dbuser
      value: root
    - name: dbpass
      value: gaseous
  envFromSecrets:
    enabled: true
    secretRefNames:
      - gaseous-server

  readinessProbe:
    enabled: false

  livenessProbe:
    enabled: false
    command: []
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3

database:
  enabled: true
  host: gsdb
  port: 3306

  image:
    repository: mariadb
    tag: latest
    pullPolicy: IfNotPresent

  volumeMounts:
    - mountPath: /var/lib/mysql
      subPath: mariadb

  env:
    # - name: ALLOW_EMPTY_PASSWORD
    #   value: "yes"
    - name: MARIADB_ROOT_PASSWORD
      value: gaseous
    - name: MARIADB_USER
      value: gaseous
    - name: MARIADB_PASSWORD
      value: gaseous
    # - name: MARIADB_DISABLE_CHOWN
    #   value: "yes"
  replicas: 1
